<section class="row dark-bg">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
        <h2>Чем хорош Amazfit Bip</h2>
        <p>Рекордный срок службы батареи: до 30 дней при регулярном использовании, и до 45 дней при минимальном.</p>
        <p>Очень легкие: удобно носить каждый день, при занятии спортом и слежением за сном.</p>
        <p>Получение уведомлений о звонках, сообщениях, электронных сообщениях и других приложениях на всегда активном цветном
            сенсорном дисплее.</p>
        <p>Мультиспортивный трекинг. Отслеживайте свои забеги, велосипедные заезды и многое другое с отображаемыми маршрутами,
            подробной статистикой и зонами пульса.</p>
        <p>Датчики: GPS, 3-осевой акселерометр, оптический датчик сердечного ритма, барометр и компас.</p>
        <p>Всегда активный дисплей: антибликовый сенсорный экран позволяет в любой момент взглянуть на время, дату, шаги, погоду,
            спортивную статистику.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center">
        <img src="img/amazfit_bip_smartwatch_white_cloud_hand.jpg" alt="">
    </div>
</section>

<section class="row light-bg">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center">
        <img src="img/amazfit_bip_smartwatch_onyx_black_runner.jpg" alt="">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
        <h2>Характеристики</h2>
        <p>Всегда активный антибликовый цветной дисплей 1.28 дюма</p>
        <p>Стекло 2.5D Corning Gorilla Glass Corning 3 поколения + покрытие AF</p>
        <p>Оптический датчик измерения пульса</p>
        <p>Геомагнитный датчик (компас)</p>
        <p>Датчик давления для восхождений</p>
        <p>GPS + GLONASS для записи маршрутов</p>
        <p>Стандартные размеры для часов 20мм</p>
        <p>Степень защиты IP68 — от пыли, дождя и брызгов </p>
        <p>Литий-полимерная батарея на 190mAh</p>
        <p>Вес 31 грамм</p>
    </div>
</section>

<section class="row dark-bg">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
        <h2>Куда бы не бросила жизнь</h2>
        <p>Amazfit Bip — идеальный ежедневный компаньон, информирующий вас обо всех событиях вашей жизни. Ежедневный подсчет
            шагов и калорий, измерение пройденного расстояния — это мотивация вести более активный образ жизни. Антибликовый
            дисплей позволяет видеть четкую и яркую картинку независимо от того где вы находитесь — на ярком солнце или в
            помещении. Благодаря этому вы всегда будете в курсе событий — напоминания, смс (можно прочитать полный текст),
            электронные письма, сообщения из соцсетей и мессенджеров, будут транслироваться с вашего смартфона.</p>
        <p>С цветного сенсорного экрана вы можете управлять различными функциями приложения — доступ к прогнозам погоды, таймеру,
            компасу, ежедневному обзору активности, включая частоту сердечных сокращений и спортивным целям. </p>
        <p>Bip можно использовать для занятий спорта на открытом воздухе, беговой дорожке, для велоспорта и ходьбы. Он оснащен
            большим количеством спортивных режимов. Каждый режим отслеживания активности предоставляет подробную статистику
            и GPS-треки для анализа времени, скорости, темпа, длины шага, частоты сердечных сокращений, высоты подъема, сжигаемых
            калорий и т.д., в зависимости от выбранного режима. Когда вы спите, часы контролируют ваши фазы сна и его продолжительность,
            а также обеспечивают плавное пробуждение. Bip — это просто великолепный гаджет на все случаи жизни!</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center">
        <img src="img/amazfit_bip_smartwatch_kokoda_green_trench_coat.jpg" alt="">
    </div>
</section>