<section class="row dark-bg">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
        <h2>Чем хорош Amazfit STRATOS</h2>
        <p>Подробная спортивная статистика: бег, ходьба, езда на велосипеде, плавание, эллиптическая машина, альпинизм, тропа,
            триатлон, теннис, футбол и лыжи</p>
        <p>Ежедневная активность: шаги, пройденные расстояния, сжигаемые калории, сердечный ритм и качество сна плюс дополнительные
            напоминания о движении</p>
        <p>Получение электронных писем, текстовых сообщений, звонков и других уведомлений о приложении прямо на экран часов</p>
        <p>Водонепроницаемость до 50 метров / 5ATM</p>
        <p>Полированная керамическая рамка, устойчивое к царапинам 2.5D Corning Gorilla стекло, физические кнопки из нержавеющей
            стали для удобной навигации и сменный 22-миллиметровый прочный силиконовый ремешок</p>
        <p>GPS, GLONASS и оптический датчик пульса (PPG)</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center">
        <img src="img/amazfit_stratos_firstbeat_vo2max.jpg" alt="">
    </div>
</section>

<section class="row light-bg">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center">
        <img src="img/amazfit_stratos_features_square.jpg" alt="">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
        <h2>Характеристики</h2>
        <p>
            <span class="bold">Дисплей:</span> 1.34 дюйма / 320x300 px, активный антибликовый цветной сенсорный</p>
        <p>
            <span class="bold">Вес:</span> 70 грамм</p>
        <p>
            <span class="bold">Процессор:</span> 1.2GHz</p>
        <p>
            <span class="bold">Память:</span> 4 Gb</p>
        <p>
            <span class="bold">Соединение:</span> Bluetooth 4.0 / BLE + WiFi</p>
        <p>
            <span class="bold">Батарея:</span> 290mAh Li-Polymer Battery, 5-11 дней</p>
        <p>
            <span class="bold">Защита:</span> 5ATM (50m водонепроницаемость)</p>
        <p>
            <span class="bold">Датчики:</span> изменения пульса, акселерометр, компас</p>
        <p>
            <span class="bold">Навигация:</span> GPS + GLONASS</p>
    </div>
</section>

<section class="row dark-bg">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
        <h2>Сделай каждый день выдающимся</h2>
        <p>Amazfit Stratos сопровождает вас в ежедневных приключениях, поддерживая 12+ различных спортивных режимов. Эти прочные
            водонепроницаемые часы оснащены встроенным GPS, барометром для измерения высоты, WiFi, датчиком частоты сердечных
            сокращений и встроенным музыкальным плейером.</p>
        <p>Встроенное хранилище позволяет слушать музыку, где бы вы ни находились. Просто передайте музыку на часы Stratos и
            подключите беспроводную гарнитуру, чтобы слушать ваши любимые хиты без необходимости носить с собой смартфон.</p>
        <p>Amazfit Stratos также имеет интеллектуальные звуковые и вибро уведомления для звонков, сообщений, электронной почты
            и т.д. Получите прямой доступ к прогнозам погоды, секундомеру, компасу, будильнику и монитору физической активности.
            Stratos автоматически отслеживает ваши ежедневные шаги, пройденное расстояние, сожжённые калории и сон.</p>
        <p>Полная совместимость с устройствами iOS и Android.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center">
        <img src="img/amazfit_stratos_cycling.jpg" alt="">
    </div>
</section>