<footer class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-1 col-lg-2 col-lg-offset-2 about-us">
        <h2>О компании Amazfit</h2>
        <p>Компания Huami, запущенная в 2014 году, является крупнейшей компанией по производству носимых устройств во всем мире
            с более чем 50 миллионами проданных сегодня товаров и 17,1% мирового рынка. Huami также является эксклюзивным
            поставщиком износостойких технологий для Xiaomi и производителя Mi Band.Мы со штаб-квартирой в Mountain View,
            CA.
        </p>
        <div>
            <a href="https://www.facebook.com/amazfit/" class="social-icon">
                <img src="img/facebook.svg" alt="">
            </a>
            <a href="https://www.youtube.com/huamiinc" class="social-icon">
                <img src="img/youtube.svg">
            </a>
            <a href="https://www.instagram.com/amazfit/" class="social-icon">
                <img src="img/instagram.svg">
            </a>
            <a href="https://www.pinterest.com/amazfit/" class="social-icon">
                <img src="img/pinterest.svg">
            </a>
            <a href="https://twitter.com/amazfit" class="social-icon">
                <img src="img/twitter.svg">
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-lg-offset-1">
        <h2>Импортер в Беларуси</h2>
        <p>ООО «Корпоративный стандарт», 1995—2018. <br>Свидетельство о гос. регистрации №101290106 выдано Минским областным исполнительным комитетом 15 мая 2017 г.</p>
        <p>E-mail: b2b@cd-life.by<br>Телефон: +375 17 500-10-01<br>(только оптовые продажи)</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-lg-offset-1">
        <h2>Инвесторы Amazfit</h2>
        <div class="investors">
            <img src="img/sequoia_capital_logo.png" alt="">
            <img src="img/banyan_capital_logo.png" alt="">
            <img src="img/xiaomi_logo.png" alt="">
            <img src="img/morningside_ventures_logo.png" alt="">
        </div>
    </div>

</footer>