<section class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 foto-slider">
        <img class="large-photo" src="img/amazfit_stratos_smartwatch_hero_v2.png" alt="">
        <div class="toggle-img">
            <div class="prew">
                <img src="img/amazfit_stratos_smartwatch_front.png" alt="">
            </div>
            <div class="prew">
                <img src="img/amazfit_stratos_smartwatch_back_detail.png" alt="">
            </div>
            <div class="prew">
                <img src="img/amazfit_stratos_button_pattern_detail.png" alt="">
            </div>
            <div class="prew">
                <img src="img/amazfit_stratos_smartwatch_hero_v2.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <div class="text">
            <h2>Amazfit STRATOS</h2>
            <p>Прочный корпус из углеродного волокна оснащен полированной керамической рамкой, устойчивым к царапинам стеклом
                2.5D Corning Gorilla Glass, тремя физическими кнопками из нержавеющей стали для удобной навигации и сменным
                22-миллиметровым прочным силиконовым ремешком. </p>
            <p>Часы поддерживают множество полезных для спорта функций. Они отлично подходят для занятий бегом, ходьбой, езды
                на велосипеде, плавания, эллиптической машины, альпинизма, триатлона, тенниса, футбола и лыж. Благодаря партнерству
                с Firstbeat эти часы также измеряют максимальное потребление кислорода (VO2max), нагрузку (TD) и время восстановления.
                Все данные могут быть синхронизированы и доступны в Strava.</p>
                <p>
                    <a href="manual/stratos_manual.pdf" class="manual" target="_blank">Скачать инструкцию</a>
                </p>
        </div>
    </div>
</section>