<section class="row">
    <a name="products"></a>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 products">
        <h2>Часы и фитнес браслеты Amazfit</h2>
        <div class="row items">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 item">
                <div class="bip">
                    <div class="overlay">
                        <a href="/bip.html">Подробней</a>
                    </div>
                    <img src="img/amazfit_bip_smartwatch_onyx_black_hero.png" alt="">
                </div>

                <a href="/bip.html" class="title">
                    <h3>BIP</h3>
                    <p>Работа от батареи 30+ дней</p>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 item">
                <div class="stratos">
                    <div class="overlay">
                        <a href="/stratos.html">Подробней</a>
                    </div>
                    <img src="img/amazfit_stratos_smartwatch_hero_v2.png" alt="">
                </div>
                <a href="/stratos.html" class="title">
                    <h3>STRATOS</h3>
                    <p>Для самых активных</p>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 item">
                <div class="cor">
                    <div class="overlay">
                        <a href="/cor.html">Подробней</a>
                    </div>
                    <img src="img/amazfit_cor_activity_tracker_hero.png" alt="">
                </div>
                <a href="/cor.html" class="title">
                    <h3>COR</h3>
                    <p>Цветной сенсорный дисплей</p>
                </a>
            </div>
        </div>
    </div>
</section>