<section class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 foto-slider">
        <img class="large-photo" src="img/amazfit_bip_smartwatch_cinnabar_red_hero.png" alt="">
        <div class="toggle-img">
            <div class="prew">
                <img src="img/amazfit_bip_smartwatch_kokoda_green_hero.png" alt="">
            </div>
            <div class="prew">
                <img src="img/amazfit_bip_smartwatch_white_cloud_hero.png" alt="">
            </div>
            <div class="prew">
                <img src="img/amazfit_bip_smartwatch_onyx_black_hero.png" alt="">
            </div>
            <div class="prew">
                <img src="img/amazfit_bip_smartwatch_cinnabar_red_hero.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <div class="text">
            <h2>Amazfit BIP</h2>
            <p>Amazfit Bip — это последнее дополнение к нашему портфелю наград. Bip имеет 30-дневный срок автономной работы
                за один заряд, антибликовый цветной сенсорный дисплей, GPS, барометр, геомагнитный датчик, датчик частоты
                сердечных сокращений PPG, 3-х осевой акселерометр для слежения за активностью и сном, при весе всего 31 грамм.</p>
            <p>Amazfit Bip поставляется в 4 ярких цветовых вариантах. Позволяет получать электронные сообщения, текстовые сообщения,
                звонки и уведомления приложений на дисплей. Вы можете записывать беговые, велосипедные и другие GPS треки,
                с подробными маршрутами и статистикой.</p>
            <p>
                <a href="manual/bip_manual.pdf" class="manual" target="_blank">Скачать инструкцию</a>
            </p>
        </div>
    </div>
</section>