<section class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 foto-slider">
        <img class="large-photo" src="img/amazfit_cor_activity_tracker_hero.png" alt="">
        <div class="toggle-img">
            <div class="prew">
                <img src="img/amazfit_cor_activity_tracker_front.png" alt="">
            </div>
            <div class="prew">
                <img src="img/amazfit_cor_activity_tracker_side.png" alt="">
            </div>
            <div class="prew">
                <img src="img/amazfit_cor_activity_tracker_back.png" alt="">
            </div>
            <div class="prew">
                <img src="img/amazfit_cor_activity_tracker_hero.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <div class="text">
            <h2>Amazfit COR</h2>
            <p>Amazfit Cor — браслет с датчиком сердечного ритма, трекером активности и сна, сочетающий высокую прочность с
                элегантным дизайном — корпус из нержавеющей стали и стекло Corning Gorilla 2.5D</p>
            <p>Браслет защищен от попадания влаги при погружении в воду, и имеет яркий цветной сенсорный экран 1.23 дюйма. На
                дисплее отображаются сообщения любого типа, такие как смс, сообщения электронной почты, звонки и уведомления
                приложений. </p>
            <p>Amazfit Cor контролирует ваш сон, физическую активность, показывает 7-дневный прогноз погоды. Имеет будильник,
                таймер, секундомер и 12-дневный срок службы батареи от одной зарядки.</p>
                <p>
                    <a href="manual/cor_manual.pdf" class="manual" target="_blank">Скачать инструкцию</a>
                </p>
        </div>
    </div>
</section>