<section class="row shops">
    <a name="shops"></a>
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1 col-lg-4 col-lg-offset-2">
        <h2>Где купить Amazfit в&nbsp;РБ</h2>
        <a class="shop-logo" href="http://sila.by/search/amazfit">
            <img src="img/logo-sila.png" alt="">
        </a>
        <br>
        <a class="shop-logo" href="http://xistore.by/search/?q=amazfit">
            <img src="img/logo-xistore.png" alt="">
        </a>
        <br>
        <a class="shop-logo" href="https://www.21vek.by/smart_watches/all/amazfit/">
            <img src="img/logo-21vek.png" alt="">
        </a>
        <br>
        <a class="shop-logo" href="https://imarket.by/catalog/?q=amazfit">
            <img src="img/logo-imarket.png" alt="">
        </a>
        <br>
        <!-- <div class="service">
            <h2>Сервисный центр «Правша»</h2>
            <p>г. Минск, проспект Независимости 40, (вход со двора)</p>
            <p>Velcom: +375 (29) 319-18-75, МТС: +375 (29) 574-77-16</p>
        </div> -->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A794e38f70a4814514144d638fbab77594e63a9236e95102222f2c3c7786eaada&amp;source=constructor"
            width="100%" height="400" frameborder="0"></iframe>
    </div>
</section>