/*!
autor: Karasik Vadim
project: amazfit
*/

@import "import/_reset.less";
@import "import/_fonts.less";
body {
    font-size: 62.5%;
    font-family: "HelveticaNeueCyr-Roman", Arial, Helvetica, sans-serif;
    color: #3b3b3b;
}

h1 {
    font-family: "HelveticaNeueCyr-Bold", Arial, Helvetica, sans-serif;
    font-size: 800%;
    margin-bottom: 20px;
    @media(max-width: 768px) {
        font-size: 600%;
    }
}

h2 {
    font-size: 400%;
    color: #3b3b3b;
    font-family: "HelveticaNeueCyr-Bold", Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

h3 {
    font-size: 200%;
}

h4 {
    font-family: "HelveticaNeueCyr-Bold", Arial, Helvetica, sans-serif;
    font-size: 140%;
    text-transform: uppercase;
    margin: 10px 0 5px;
    color: #3b3b3b;
}

p {
    font-size: 160%;
    color: #3b3b3b;
    line-height: 1.4;
    margin-bottom: 20px;
}

header {
    padding: 20px 0;
    background: #212121;
    nav {
        .logo {
            float: left;
            text-decoration: none;
        }
        .menu-icon{
            display: none;
            float: right;
            height: 25px;
            width: 25px;
            background: url('../img/menu.svg') no-repeat center center;
            @media(max-width: 768px){
                display: block;
            }
        }
        .menu {
            float: right;
            @media(max-width: 768px){
                display: none;
                float: none;
                clear: both;
                padding: 10px 0;
                
            }
            li {
                display: inline-block;
                margin: 0 10px;
                a {
                    color: #ffffff;
                    font-size: 160%;
                    line-height: 1.7;
                    font-family: "HelveticaNeueCyr-Light", Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover {
                        color: #dddddd;
                    }
                }
                @media(max-width: 768px){
                    display: block;
                    border-bottom: 1px solid #dddddd;
                    margin: 7px 0;
                }
            }
        }
    }
}

.banner{
    padding: 120px 0;
    p {
        font-size: 220%;
        margin-bottom: 50px;
        max-width: 600px;
    }
    &.cor {
        background: url("../img/cor_bg.jpg") no-repeat center center;
        background-size: cover;

        p,h1{color: #fff;}
    }
    &.bip{
        background: url("../img/amazfit_bip_smartwatch_composition.jpg") no-repeat center center;
        background-size: cover;
    }
    &.stratos{
        background: url("../img/amazfit_stratos_super_avante_homepage_hero.jpg") no-repeat 90% 0 #000000;
        background-size: contain;

        p,h1{color: #fff;}
    }
}

.slider {
    position: relative;
    .slider-wrap {
        position: relative;
        height: 600px;
        overflow: hidden;
    }
    h1,
    h2 {
        color: #333;
    }
    .slide {
        position: absolute;
        width: 100%;
        height: 600px;
        padding: 200px 0; //text-align: center;
        @media(max-width: 768px) {
            padding: 100px 0;
        }
        &_1 {
            background: url('../img/banner-bip.jpg') no-repeat center center;
            background-size: cover;
            color: #fff;
        }
        &_2 {
            background: url('../img/banner-stratos.jpg') no-repeat center center;
            background-size: cover;
            color: #fff;
        }
        &_3 {
            background: url('../img/banner_cor.jpg') no-repeat bottom center;
            background-size: cover;
            color: #000;
        }
    }
    #left,
    #right {
        position: absolute;
        z-index: 1000;
        width: 72px;
        height: 72px;
        transform: translate(0%, -50%);
    }
    #right {
        right: 2%;
        top: 50%;
        background: url(../img/arrow-right.png) no-repeat center center;
    }
    #left {
        left: 2%;
        top: 50%;
        background: url(../img/arrow-left.png) no-repeat center center;
    }
}

.button {
    display: inline-block;
    padding: 10px 35px;
    border: none;
    background: #F22F2F;
    font-family: "HelveticaNeueCyr-Light", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 160%;
    text-decoration: none;
    text-align: center;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

.products {
    background: #ffffff;
    padding: 0;
    h2 {
        text-align: center;
        margin-bottom: 50px;
        padding: 0 10px;
    }
    h3 {
        color: #ffffff;
        text-align: center;
        margin-bottom: 5px;
    }
    p {
        color: #ffffff;
        margin: 0;
    }
    .items {
        margin: 0;
    }
    img {
        width: 100%;
        max-width: 330px;
    }
    .bip {
        position: relative;
        background: #adceec;
    }
    .stratos {
        position: relative;
        background: #000000;
    }
    .cor {
        position: relative;
        background: #9dcfce;
    }
    .item {
        text-align: center;
        padding: 0 !important;
    }
    .title {
        position: relative;
        z-index: 1000;
        display: inline-block;
        width: 75%;
        background: #313233;
        margin-top: -40px;
        padding: 20px;
        text-decoration: none;
    }
}

.promo {
    img {
        max-width: 100%;
    }
}

.overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all .25s ease-in;
    a {
        display: inline-block;
        border: 2px solid #ffffff;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        font-size: 120%;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0)
    }
    &:hover {
        opacity: 1;
    }
}

.features {
    padding: 50px 0 30px;
    background: #f0f2f4;
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }
    .function {
        text-align: center;
        margin-bottom: 50px;
        p {
            font-size: 140%;
        }
    }
}

.awards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    h3 {
        font-size: 250%;
        border-bottom: 1px solid #bec0c2;
        transform: rotate(-90deg);
        color: #bec0c2;
        font-family: "HelveticaNeueCyr-Thin";
        padding-bottom: 20px;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 0.15em;
        @media(max-width: 768px) {
            transform: rotate(0deg);
        }
    }
    img {
        max-width: 145px;
    }
}

.keeptrack {
    background: url("../img/amazfit_justin_steps_041.jpg") no-repeat 0 50%;
    background-size: cover;
    padding: 50px;
    position: relative;
}

.phoneholder {
    width: 100%;
    max-width: 350px;
    position: relative;
    video {
        display: block;
        width: 88%;
        position: absolute;
        top: 12%;
        left: 6%;
    }
    .phone-mockup {
        display: block;
        width: 100%;
    }
}

.app {
    padding: 70px 0;
    background: #f0f2f4;
    h2 {
        text-align: left;
    }
    img {
        width: 150px;
        padding: 5px;
    }
}

.social {
    margin-top: 40px;
    margin-bottom: 40px;
    background: #f0f2f4;
    .social-photos {
        padding: 40px 0;
        text-align: center;
        img {
            max-width: 30%;
            margin: 2px;
        }
    }
    .social-text {
        background: #f0f2f4;
        padding: 40px;
        h2 {
            text-align: left;
        }
        .hashtag {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            border-bottom: 2px solid #f8c814;
            padding-bottom: 5px;
            font-family: "HelveticaNeueCyr-Medium";
            color: #313233;
            font-size: 140%;
            line-height: 1.2;
        }
    }
}

.foto-slider {
    background: #adceec;
    text-align: center;
    img {
        width: 100%;
        max-width: 500px;
    }
    h2 {
        text-align: left;
    }
}

.toggle-img {
    //margin: 10px 0;
}

.prew {
    display: inline-block; //background: #9dcfce;
    border: 1px solid #ffffff;
    width: 20%;
    max-width: 100px;
    max-height: 100px;
    padding: 5px;
    margin: 0 5px 10px;
    &:hover {
        cursor: pointer;
    }
    img {
        max-width: 100%;
    }
}

.shops {
    background: #ffffff;
    padding: 50px 0;
    h2 {
        color: #313233;
        margin-bottom: 20px;
    }
    .shop-logo {
        display: inline-block; //margin: 10px;
        img {
            max-width: 100%;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    p {
        width: 80%;
        margin: 0 auto;
        font-size: 250%;
        margin-bottom: 30px;
        line-height: 1.2;
        color: #313233;
    }
    .service {
        margin-top: 50px;
        p {
            margin-bottom: 10px;
        }
    }
}

.map {}

.manual {
    background: url("../img/pdf.svg") no-repeat left center;
    display: inline-block;
    height: 32px;
    padding-left: 40px;
    line-height: 2.1;
}

footer {
    padding: 40px 0 20px;
    background: #313233;
    h2 {
        font-size: 200%;
        color: #fff;
        font-family: "HelveticaNeueCyr-Roman";
    }
    p {
        margin-bottom: 30px;
        font-size: 125%;
        color: #eeeeee;
        font-family: "HelveticaNeueCyr-Roman";
        letter-spacing: 0.05em;
    }
    a {
        color: #ffed00;
        &:hover {
            color: #ffed00 - 30%;
        }
    }
    .social-icon {
        width: 32px;
        height: 32px;
        margin: 0 2px 30px;
        display: inline-block;
        position: relative;
        background: #000000;
        vertical-align: baseline;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }
}

.rrp {
    font-size: 250%;
    color: #313233;
    margin-bottom: 20px;
}

.investors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 20%;
    }
}

.text {
    padding: 50px;
}

.bold {
    font-weight: bold;
}

.align-center {
    text-align: center;
}

.light-bg {
    background: #F0F2F4;
    padding: 100px 0;
    @media(max-width: 992px) {
        padding: 50px 0;
    }
    h2 {
        text-align: left;
    }
    img {
        display: inline-block;
        width: 100%;
        max-width: 400px;
    }
}

.dark-bg {
    padding: 100px 0;
    background: #000000;
    color: #ffffff !important;
    @media(max-width: 992px) {
        padding: 50px 0;
    }
    h2,
    p {
        color: #ffffff;
    }
    img {
        display: inline-block;
        width: 100%;
        max-width: 400px;
    }
}

.table {
    th {
        font-weight: bold;
    }
    font-size: 160%;
    td {
        text-align: left;
    }
}

//Extra small devices Phones (<768px)	
//Small devices Tablets (≥768px)	
//Medium devices Desktops (≥992px)	
//Large devices Desktops (≥1200px)